{% extends "base.html" %}

{% block title %}Download Monitor · Popularr{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="mb-4 d-flex flex-wrap align-items-start gap-2">
    <div class="flex-grow-1">
      {% set subtitle = 'Search and download music from qBittorrent and Soulseek' %}
      {% include 'components/_downloads_header.html' %}
    </div>
    <a href="/downloads/banned-words" class="btn btn-outline-danger btn-sm align-self-center">
      <i class="bi bi-slash-circle"></i> Banned Words
    </a>
  </div>

  {% include 'components/search/_queue_add_form.html' %}
  {% include 'components/search/_monitor_upcoming.html' %}
  {% include 'components/search/_monitor_discovery.html' %}
  {% include 'components/search/_monitor_queue_section.html' %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/monitor.js') }}"></script>
<script src="{{ url_for('static', filename='js/downloads.js') }}"></script>
{% endblock %}
