# Ignore Git and version control
.git
.gitignore

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment files
.env
.env.example

# Ignore database folder (if mounted as volume)
database/

# Ignore Docker-related files (optional)
docker-compose.yml*
build_and_push.sh

# Ignore files you don't need in the image
server.py
batch_rate.py

# Ignore OS-specific files
.DS_Store
Thumbs.db
