services:
  sptnr:
    container_name: sptnr
    image: moventura/sptnr:latest  # points to your Docker Hub repo
    env_file:
      - .env
    volumes:
      - ./logs:/usr/src/app/logs
    restart: unless-stopped
