<!-- MusicBrainz Search Modal Wrapper -->
<div class="modal fade" id="albumLookupModal" tabindex="-1" aria-labelledby="albumLookupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content bg-dark text-light border-secondary">
      
      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="albumLookupModalLabel"><i class="bi bi-search text-info me-2"></i>MusicBrainz Search</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <!-- This dynamically pulls in your reusable search component right here -->
        {% include 'components/_musicbrainz_search_component.html' ignore missing %}
      </div>
      
      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
